<div class="w-full">
  <% content_for :title, "Photos" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-3xl">All Photos</h1>
  </div>
  <div data-controller="export-csv" class="px-2 my-4">
    <div class="flex items-center gap-3">
    <button class="btn-primary" data-action="click->export-csv#export">Export CSV</button>
      <div class="hidden grow" data-export-csv-target="progressWrapper">
        <p class="mb-2 text-base">Processing file ...</p>
        <div class="rounded bg-indigo-200 h-3">
          <div class="rounded bg-indigo-700 h-3" data-export-csv-target="progress" style="width: 0%;"></div>
        </div>
      </div>
    </div>
  </div>

  <table class="table-auto mt-5">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Likes count</th>
    </tr>
    </thead>
    <% @photos.each do |photo| %>
      <tr id="<%= dom_id photo %>">
        <td>
          <%= photo.name %>
        </td>
        <td class="">
          <%= photo.description %>
        </td>
        <td class="is-right">
          <%= photo.description %>
        </td>
        <td>
          <%= photo.likes_count %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="mt-2">
    <%= paginate @photos %>
  </div>
</div>
