<div class="grid grid-cols-2 gap-4 md:grid-cols-4">
  <% @photos.each_slice(3) do |photo_group| %>
    <div class="grid gap-4">
      <% photo_group.each do |photo| %>
        <div>
          <%= link_to photo_path(photo) do %>
            <img
              class="h-auto max-w-full rounded-lg"
              src="<%= photo.url %>"
              alt="<%= photo.name %>"
              style="view-transition-name: photo_<%= photo.id %>"
            >
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<div class="mt-8">
  <h3 class="text-2xl font-semibold">Export all Photos</h3>
  <%= turbo_frame_tag "export" do %>
    <%= link_to photos_exports_path, data: {turbo_stream: true}  do %>
      <div data-controller="export-csv" class="my-3">
        <button class="btn-primary" data-action="click->export-csv#export">Export</button>
      </div>
    <% end %>
  <% end %>
</div>