<div class="w-full">
  <% content_for :title, "Photos" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">All Photos</h1>
    <%= link_to "Gallery", gallery_photos_path, class: "btn-primary" %>
  </div>
  <div class="mt-2">
    <%= paginate @photos %>
  </div>
  <table class="table-auto mt-5">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Likes count</th>
    </tr>
    </thead>
    <% @photos.each do |photo| %>
      <tr id="<%= dom_id photo %>">
        <td>
          <%= photo.name %>
        </td>
        <td class="">
          <%= photo.description %>
        </td>
        <td class="is-right">
          <%= photo.description %>
        </td>
        <td>
          <%= photo.likes_count %>
        </td>
      </tr>
    <% end %>
  </table>
</div>


<div class="mt-8">
  <h3 class="text-2xl font-semibold">Export all Photos</h3>

  <div data-controller="export-csv" class="my-3">
    <button class="btn-primary" data-action="click->export-csv#export">Export</button>
    <div class="hidden w-3/4 my-2" data-export-csv-target="progressWrapper">
      <p class="mb-2 text-base">Processing file</p>
      <div class="rounded bg-blue-200 h-3">
        <div class="rounded bg-blue-700 h-3" data-export-csv-target="progress" style="width: 0%;"></div>
      </div>
    </div>
  </div>
</div>
